@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Calculadora de Notas</h1>
    <p class="lead">Calcule suas notas</p>
    @Html.ActionLink("Notas", "Index", "Nota", null, new { @Class = "btn btn-primary" } )
</div>